---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/sections/Hero.astro';
import Technologies from '../components/sections/Technologies.astro';
import Services from '../components/sections/Services.astro';
import Process from '../components/sections/Process.astro';
import Portfolio from '../components/sections/Portfolio.astro';
import Testimonials from '../components/sections/Testimonials.astro';
import CTAFinal from '../components/sections/CTAFinal.astro';
import Footer from '../components/Footer.astro';
import WhatsAppFloat from '../components/ui/WhatsAppFloat.astro';
---

<Layout>
	<Navbar />
	<main>
		<Hero />
		<Technologies />
		<Services />
		<Process />
		<Portfolio />
		<Testimonials />
		<CTAFinal />
	</main>
	<Footer />
	<WhatsAppFloat />
</Layout>
